.nav{
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--blue-bg);
  border-bottom: 1px solid rgba(176, 210, 231, 0.9);
}

.inner{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 22px;
  height: 78px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: "Omes", "Rubik", sans-serif;
  font-size: 20px;
  color: var(--blue-primary);
  font-weight: 400;
}

.links{
  display: flex;
  gap: 22px;
}

.link{
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
}

.link:hover{
  color: var(--blue-primary);
}

.logoImage {
  height: 100px; /* או כל גובה שמתאים לעיצוב שלך */
  width: auto;  /* שומר על פרופורציות */
  display: block;
}