.Platformbutton {
  font-size: 1em;
  color:black;
  margin-right: 5px;
  border-color: aliceblue;
  background-color: white;
}

.instagramFields {
  width: fit-content;
  margin: 24px auto;         
  display: flex;
  flex-direction: column;
}