/* =========================
   colors
   ========================= */

   :root{
  --navy: #061693;
  --blue-bg: #B0D2E7;
  --page-bg: #EBF7FF;
  --text: #262626;
  --muted: #404040;
}


/* =========================
   Fonts
   ========================= */

@font-face {
  font-family: "Omes";
  src: url("../assets/fonts/omes-regular-fm.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Reset בסיסי
   ========================= */

* {
  box-sizing: border-box;
}

/* =========================
   Body – טקסט רגיל
   ========================= */

body {
  margin: 0;

  /* Rubik כבסיס */
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, sans-serif;

  /* עברית */
  direction: rtl;
  text-align: right;

  /* צבעים כלליים */
  color: var(--text-main);
  background-color: var(--white);

  /* החלקת פונטים */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   כותרות – Omes
   ========================= */

h1,
h2,
h3,
h4 {
  font-family: "Omes", "Rubik", sans-serif;
  margin: 0;
}

/* =========================
   טקסטים כלליים
   ========================= */

p {
  margin: 0;
  line-height: 1.6;
}

html, body, #root{
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--page-bg);
}

/* =========================
   קוד – להשאיר לדיבוג
   ========================= */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}